<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <div class="container">
            <div class="col">
                <h1>Create Account</h1>
                <p>Start your Blogify adventure today!</p>
            </div>
                
            <div class="col">
                <form method="POST" action="/create-account" class="login-form">
                    <input type="text" placeholder="Username" name="username" class="login-input" required />
                    <input type="password" placeholder="Password" name="password" class="login-input" required />
                    <button class="form-button">Register</button>
                    <p class="error-msg">{{errorMessage}}</p>
                    <p>Already registered? <a href="/">Login</a></p>
                    <p></p>
                </form>
               
            </div>
        </div>
    </body>
</html>