<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <div class="dashboard">
            <nav>
                <ul class="nav-link">
                    <li><a href="/blog/dashboard"><i class="fas fa-home"></i> Dashboard</a></li>
                    <li><a href="/blog/view-all"><i class="fas fa-bars"></i> View All</a></li>
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </nav>

            <div class="blog-form edit-container">
            <h2><i class="fas fa-edit"></i> Edit a Post</h2>
            {{#fullPost}}
                <form method="POST" action="/blog/update/{{id}}">
                    <input type="text" class="blog-input" value="{{title}}" name="title" required />
                    <textarea name="body" rows="10" required>{{body}}</textarea>
                    <input type="text" class="blog-input" value="{{category}}" name="category" required />
                    <button class="blog-button">Update</button>
                </form>
            {{/fullPost}}
            </div>
        </div>
        <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
    </body>
</html>