<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
    <nav>
        <ul>
            <li><a href="/blog/dashboard">Dashboard</a></li>
            <li><a href="/blog/view-all">View all posts</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
        <h1>Blog</h1>
        
        <h2>Edit a Post</h2>
        {{#fullPost}}
            <form method="POST" action="/blog/update/{{id}}">
                <input type="text" value="{{title}}" name="title" />
                <input type="text" value="{{body}}" name="body" />
                <input type="text" value="{{category}}" name="category" />
                <button class="form-button">Update</button>
                <a href="/blog/dashboard">Back</a>
            </form>
        {{/fullPost}}
    </body>
</html>