<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <h1>Blog</h1>

        <h2>Edit a Post</h2>
            <form method="POST" action="/update">
                <input type="text" value="{{title}}" name="titleText" />
                <input type="text" value="{{body}}" name="bodyText" />
                <input type="hidden" value={{post_id}} name="postId" />
                <button>Update</button>
                <a href="/">Back</a>
            </form>
    </body>
</html>