<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <div class="container">
            <div class="col">
                <img src="/img/Lunch.svg" />
            </div>

            <div class="col col-box">
            <h1>Welcome to Blogify!</h1>
            <p>Share your experience and connect with people.</p>
                <form method="POST" action="/login" class="login-form">
                    <input type="text" placeholder="Username" name="username" class="login-input" required />
                    <input type="password" placeholder="Password" name="password" class="login-input" required />
                    <button class="login-button">Login</button>
                    <p class="error-msg">{{errorMessage}}</p>
                    <p>Don't have an account? <a href="/create-account">Register here</a></p>
                    <p>{{logoutMessage}}</p>
                </form>
                
            </div>
        </div>
    </body>
</html>