<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <h1>Blog</h1>

        <h2>Create Account</h2>
            <form method="POST" action="/login">
                <input type="text" placeholder="Username" name="username" />
                <input type="password" placeholder="Password" name="password" />
                <button>Login</button>
                <a href="/">Back</a>
            </form>

            {{errorMessage}}
    </body>
</html>