* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcde67;
  color: #030e12;
  overflow-x: hidden;
}

p {
  padding-top: 10px;
}

h2 {
  margin: 50px 0px 15px 0px;
}

h3 {
  margin: 20px 0px;
}

hr {
  border-top: 1px #dddfe2 solid;
  margin: 20px 0px;
}

a {
  color: #030e12;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  opacity: 0.6;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea {
  resize: none;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dddfe2;
  background-color: #fff;
  border-radius: 6px;
  color: #030e12;
  font-size: 17px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.login-form {
  padding: 50px 10px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
}

.login-input {
  padding: 10px 20px;
  border: 1px solid #dddfe2;
  background-color: #fff;
  border-radius: 6px;
  color: #030e12;
  font-size: 17px;
  margin-bottom: 20px;
  width: 100%;
}

.login-button {
  border: none;
  background-color: #00b1d2ff;
  color: #fff;
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

.login-button:hover {
  opacity: 0.6;
}

.delete-button {
  border: none;
  background-color: #ff4444;
  color: #fff;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
}

.delete-button:hover {
  opacity: 0.6;
}

.view-button {
  border: none;
  background-color: #00b1d2ff;
  color: #fff;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
  margin-right: 5px;
}

.view-button:hover {
  opacity: 0.6;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  width: 500px;
  margin: 20px;
  padding: 50px;
}

.col-box {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  width: 450px;
}

.error-msg {
  color: red;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.blog-input {
  padding: 10px 20px;
  border: 1px solid #dddfe2;
  background-color: #fff;
  border-radius: 6px;
  color: #030e12;
  font-size: 17px;
  margin-bottom: 20px;
  width: 100%;
}

.blog-button {
  border: none;
  background-color: #00b1d2ff;
  color: #fff;
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

.blog-button:hover {
  opacity: 0.6;
}

.blog-post {
  list-style: none;
  width: 800px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.blog-form {
  width: 800px;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.blog-info {
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.comment-form {
  width: 800px;
  margin-bottom: 20px;
}

nav {
  background-color: #00b1d2ff;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
}

nav a {
  color: #fff;
}

.nav-link {
  width: 800px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
